<p-panel header="Pipes números" class="p-1">
  <h1>Pipes Básicos</h1>

  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
  </p-panel>


  <div class="grid ">

  <div class="col-12 md:col-12">
    <p-card header="ventas netas" subheader="de el presente año">
      {{ (totalSells + 121212) | number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-12 md:col-12">
    <p-card header="ventas netas" subheader="de el presente año">
      {{ totalSells | currency:'COP':'symbol-narrow': '1.4-4' }}
    </p-card>
  </div>

  <div class="col-12 md:col-12">
    <p-card header="ganacias poercentual" subheader="de el presente año">
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>


  </div>
